make_blueprint.json
{
  "name": "AuraBook 3D Auto-Sync",
  "flow": [
    {
      "id": 1,
      "module": "google-drive:watchFiles",
      "version": 1,
      "parameters": {
        "watch": "files",
        "limit": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "google-drive:downloadFile",
      "version": 1,
      "parameters": {},
      "mapper": {
        "fileId": "{{1.id}}"
      },
      "metadata": {
        "designer": {
          "x": 200,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "github:createOrUpdateFileContents",
      "version": 1,
      "parameters": {},
      "mapper": {
        "path": "assets/{{1.name}}",
        "content": "{{2.data}}",
        "message": "Automated asset upload: {{1.name}}"
      },
      "metadata": {
        "designer": {
          "x": 400,
          "y": 0
        }
      }
    },
    {
      "id": 4,
      "module": "github:getFile",
      "version": 1,
      "parameters": {},
      "mapper": {
        "path": "assets/library.json"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      }
    },
    {
      "id": 5,
      "module": "json:parseJSON",
      "version": 1,
      "parameters": {},
      "mapper": {
        "json": "{{4.content}}"
      },
      "metadata": {
        "designer": {
          "x": 800,
          "y": 0
        }
      }
    },
    {
      "id": 6,
      "module": "tools:addToArray",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{5.array}}",
        "value": {
          "id": "page-{{1.id}}",
          "title": "{{1.name}}",
          "type": "image",
          "imageUrl": "assets/{{1.name}}",
          "depthMapUrl": "",
          "text": "Auto-imported via Make.com",
          "filter": "none"
        }
      },
      "metadata": {
        "designer": {
          "x": 1000,
          "y": 0
        }
      }
    },
    {
      "id": 7,
      "module": "json:createJSON",
      "version": 1,
      "parameters": {},
      "mapper": {
        "data": "{{6.array}}"
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    },
    {
      "id": 8,
      "module": "github:createOrUpdateFileContents",
      "version": 1,
      "parameters": {},
      "mapper": {
        "path": "assets/library.json",
        "content": "{{7.json}}",
        "sha": "{{4.sha}}",
        "message": "Automated library database update"
      },
      "metadata": {
        "designer": {
          "x": 1400,
          "y": 0
        }
      }
    }
  ]
}
